---
---

<link rel="stylesheet" href="assets/css/all.css">

<body>

  <div class="home">

    {% include header.html %}

    <section class="sub-tabs">
      <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
      <label for="tab-1" class="tab-label-1">This Week</label>

      <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
      <label for="tab-2" class="tab-label-2">Games</label>

      <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
      <label for="tab-3" class="tab-label-3">Practice</label>

      <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
      <label for="tab-4" class="tab-label-4">Revision</label>

	    <div class="clear-shadow"></div>

      <div class="content">

        <div class="content-1">
					<h2>Place Value</h2>
          <iframe src="https://www.youtube.com/embed/kn26on8U1X4" frameborder="0" allowfullscreen></iframe>
          <br>
          <br>
          <iframe src="https://www.youtube.com/embed/jJFbJxXYaLw" frameborder="0" allowfullscreen></iframe>
          <br>
          <br>
          <iframe src="https://www.youtube.com/embed/pd2zVDrGHoc" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="content-2">
					<h2>Math Games</h2>
            <p>Here are some really cool and exciting spelling games. Have a go and see if you can challenge yourself!<br>
              <br>
              <ul>
                <li><a href="hhttp://www.primarygames.co.uk/pg2/splat/splatsq100.html" target="blank">Splat Square</a></li>
                <li><a href="http://www.hbschool.com/activity/identify11-30/" target="blank">Number Identity</a></li>
                <li><a href="http://www.ictgames.com/numberFactFighter/onlineVersion/index.html" target="blank">Number Fact Fighter</a></li>
                <li><a href="http://www.ictgames.com/payForIt/index.html" target="blank">Pay For It/a></li>
                <li><a href="http://www.ictgames.com/sasNumberSort/index.html" target="blank">Number Sort</a></li>
                <li><a href="http://www.ictgames.com/whackAMole/" target="blank">Whack A Mole</a></li>
                <li><a href="http://www.ictgames.com/caterpillar_slider.html" target="blank">Caterpillar Slider</a></li>
                <li><a href="http://www.ictgames.com/catapultCountOn/index.html" target="blank">Catapult Count On</a></li>
                <li><a href="http://www.ictgames.com/bottleTakeAway/index.html" target="blank">Bottle Take Away</a></li>
                <li><a href="http://www.ictgames.com/fairyClock_v6.html" target="blank">Fairy Clock</a></li>
                <li><a href="http://www.bbc.co.uk/bitesize/ks1/maths/" target="blank">BBC Bitesize Math</a></li>
                <li><a href="http://www.crickweb.co.uk/ks1numeracy.html#" target="blank">CrickWeb Math Games</a></li>
                <li><a href="http://mathszone.co.uk/" target="blank">MathZone Games</a></li>
                <li><a href="http://www.arcademics.com/games/jet-ski/jet-ski.html" target="blank">JetSki Addition</a></li>
                <li><a href="http://www.oswego.org/ocsd-web/games/SpeedGrid/Addition/urikares.html" target="blank">Speed Addition</a></li>
                <li><a href="http://www.oswego.org/ocsd-web/games/mathmagician/mathsadd.html#" target="blank">Math Magician</a></li>
               </ul>
            <br>
        </div>

        <div class="content-3">
					<h2>Place Value Challenge</h2>
          <p>Below I have posted a tricky math challenge. Can you break the code and solve the problem? To complete you need to drag and drop the digits into the boxes. Have a go and let me know you're answers whan you have finished.
          <br>
          <br>
          <iframe src="https://nrich.maths.org/content/id/6343/2Dtargets.swf" frameborder="0" allowfullscreen></iframe>            <br>
			  </div>

        <div class="content-4">
			    <h2>What is 'Place Value'? Click the video to find out!</h2>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/1F3AycEDksY" frameborder="0" allowfullscreen></iframe>
            <br>
            </p>
	      </div>
      </section>
      
    {% include footer.html %}

  </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
