<header id="header">

  <div class="corner-title">
    <a>Class Blog</a>
  </div>

  <div class="social-links">
    <a href="https://twitter.com/colegiocit" target="_blank"><img src="assets/img/logo/twitter.png" alt="twitter"></a>
    <a href="https://www.facebook.com/Colegio-Internacional-Torrequebrada-173521466017978/" target="_blank"><img src="assets/img/logo/facebook.png" alt="facebook"></a>
    <a href="https://www.youtube.com/user/ColegioCIT" target="_blank"><img src="assets/img/Logo/youtube-new.png" alt ="youTube"></a>
  </div>

  <div class="title-image">
    <img src="assets/img/Logo/Header.png" alt="Imagination will take you everywhere">
  </div>

  <div class="nav-bar">
    <a href="/index.html">Home</a>
    <a href="/info.html">Information</a>
    <a href="/english.html">English</a>
    <a href="/math.html">Math</a>
    <a href="/PYP.html">PYP</a>
    <a href="/rising-stars.html">Rising Stars</a>
    <a href="/apps.html">Useful Apps</a>
    <a href="/newsletters.html">Newsletters</a>
  </div>

</header>
