.apps
  width: 750px
  margin: 0 auto
  color: #17526e
  p
    text-align: justify
  h1
    text-align: center


@media only screen and (max-width: 750px)
  .apps
    width: 350px
  embed
    width: 350px
    height: 550px
