.home-page
  overflow-x: hidden


.hover_effect
  border-radius: 25px
  height: 250px
  width: 500px
  background-color: #4D9797
  text-align: center
  margin-right: -450px
  cursor: pointer
  color: white
  z-index: 2
  clear: both
  text-transform: rotate(90deg)
  position: absolute
  right: 0

  &:hover
    margin-right: 0

@media only screen and (max width: 750px)
  .hover_effect
    margin-right: 0

.hover
  -webkit-user-select: none
  -webkit-touch-callout: none



//blog section
.blog
  text-align: center
  width: 750px
  margin: 0px auto
  z-index: 1
