@include font-face (SinkinSans, SinkinSans-500Medium-webfont)
@include font-face (Journal, journal-webfont)

.epk
  max-width: 960px
  margin: 0 auto
  text-align: center
  font-family: 'Journal'
  font-size: 30px

  .header
    width: 100%
    color: #1fbd00
    font-size: 40px
    font-family: 'SinkinSans'

  .profile
    img
      width: 960px
      -webkit-box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)
      -moz-box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)
      box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)

  .social
    +display(flex)
    +justify-content(space-around)
    +flex-wrap(wrap)

    .links
      a
        display: inline-block
        +size(80px)
        line-height: 80px
        text-align: center
        color: #71ccde
        border-radius: 50%
        margin: 10px 15px
        position: relative
        background-color: #ff47ac
        text-decoration: none
        font-size: 50px

        &:hover
          +transform(scale(1.5))
          opacity: 2
          cursor: pointer

  .music
    .epk-video
      h2
        font-family: 'SinkinSans'
        color: #ff47ac
      iframe
        width: 640px
        height: 360px
        margin: 5px
        -webkit-box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)
        -moz-box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)
        box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)

  .bio
    .bio-text
      text-align: justify

  .shows
    .shows-toolbar
      margin: 40px auto 40px
      background-color: #FFFFFF
      border: 3px solid #ff47ac
      a
        font-family: 'SinkinSans'
        color: #ff47ac

        &:hover
          color: #1fbd00

  .epk-contact
    .contact-info
      color: #ff47ac

    .big-link
      margin-bottom: 30px
      padding-bottom: 30px
      a
        color: #ff47ac
        font-size: 50px

        &:hover
          +transform(scale(1.5))
          color: #1fbd00


@media only screen and (max-width:1020px)
  .epk
    max-width: 95%

    .profile
      img
        width: 100%

@media only screen and (max-width:800px)
  .epk
    .shows
      .shows-toolbar
        max-width: 100%

@media only screen and (max-width:700px)
  .epk
    .header
      font-size: 30px

    .music
      .epk-video
        iframe
          width: 90%
          height: 45%

@media only screen and (max-width:500px)
  .epk
    .social
      .links
        a
          +size(50px)
          line-height: 50px
          font-size: 25px

    .music
      .epk-video
        iframe
          height: 30%
