footer
  text-align: center
  bottom: 0
  p
    position: absolute
    color: #FF00FF
    background-image: url("/assets/img/background.png")
    background-repeat: no-repeat
    background-size: cover
    padding: 10px 0px
    width: 100%
    font-family: 'SinkinSans'

  a
    color: #FF00FF
    &:hover
      color: #00FF00
