.music-video
  max-width: 940px
  margin: 0px auto

  h2
    font-family: 'SinkinSans'
    color: #ff47ac
    text-align: center

  iframe
    width: 940px
    height: 530px
    margin: 5px
    -webkit-box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)
    -moz-box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)
    box-shadow: 0px 0px 60px 3px rgba(66,51,37,1)

@media only screen and (max-width: 960px)
  .music-video
    max-width: 95%
    margin: 0px auto

    iframe
      width: 95%
      height: 50%
