.password
  h2
    text-align: center
    margin: 40px auto
    max-width: 700px
    font-family: 'SinkinSans'
    font-size: 30px

  a
    color: #ff47ac
    &:hover
      color: #1fbd00

.password-form
  input
    color: #71ccde
    background-color: #ff47ac
    margin: 30px auto
    font-family: 'SinkinSans'

    &:hover
      background: #1fbd00
      color: #ff47ac

@media only screen and (max-width:750px)
  .password
    h2
      width: 90%
