<link rel="stylesheet" href="/assets/css/all.css">

<head>
  {% include favicon.html %}
</head>


<body>
  <div class="bgd">
    <header id="header">
      <div class="index-1">
        <div class="nav-bar">
          <a class= "nav-button" href="/index.html">Home</a>
          <a class= "nav-button" href="/gigs.html">Gigs</a>
          <a class= "nav-button" href="/music.html">Music</a>
          <a class= "nav-button" href="/contact.html">Contact</a>
          <a class= "nav-button" href="/epk-password.html">EPK</a>
        </div>
      </div>

      <div class="index-2">
        <div class="title-default">
          <img src="/assets/img/full-logo.png" alt="Cuecliché">
        </div>
      </div>

    </header>
    <div class="main-content">
      {{ content }}
    </div>

    <footer id="footer">

      <div>
        <p> &copy; Cuecliché - Website created by <a href="http://www.wrigglesworthdesigns.com" target="_blank">Wrigglesworth Designs</a>. All rights reserved</p>
      </div>

      </div>

    </footer>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/js/functions.js"></script>
